@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.select2-container--default {
  width: 100% !important;

  .select2-selection {
    box-shadow: none;
    height: auto !important;
    outline: none !important;
  }

  .select2-container--default .select2-selection--single,
  .select2-container--default .select2-selection--multiple {
    @apply bg-transparent  bg-component;
    border-color: #e5e7eb;
    color: #374151;
  }

  .select2-selection--single {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.375rem;
  }

  .select2-selection--multiple {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 0.375rem;
  }

  .select2-selection__rendered {
    color: inherit;
    line-height: 1.5 !important;
  }

  .select2-selection__choice {
    display: inline-flex;
    align-items: center;
    background-color: #d1d5db;
    color: #1f2937;
  }

  .select2-selection__choice__remove {
    background-color: #374151;
    color: #f9fafb;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #3b82f6;
    }
  }

  .select2-dropdown {
    border: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0.475rem;
    padding: 1rem 0;
    @apply bg-dropdown bg-primary;

    .select2-search {
      padding: 0.5rem 1.25rem;

      .select2-search__field {
        @apply bg-component bg-white  text-[#828594] text-black;
        padding: 0.55rem 0.75rem;
        border: 1px solid #d1d5db;
        border-radius: 0.425rem;
        outline: 0 !important;

        &::placeholder {
          color: #1b1c21;
        }
      }
    }

    .select2-results__option {
      @apply text-dropdown  text-[#828594];
      padding: 0.75rem 1.25rem;

      &.select2-results__option--highlighted {
        @apply bg-sky-50  bg-dropdown;
        @apply text-sky-600;
      }

      &.select2-results__option--selected {
        @apply bg-dropdown text-sky-700;
      }
    }
  }
}

.el-select-dropdown__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 10px;
}

/**
.el-select-dropdown{
    border: 1px solid #626aef;
}

  
  /* Target the actual input */
.el-select__input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

@layer utilities {
  .filter-invert-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }
  .filter-invert-green {
    filter: invert(50%) sepia(100%) saturate(400%) hue-rotate(80deg) brightness(100%) contrast(100%);
  }
}
